# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# next
/.next/
/out/

# env
.env
.env*.local

# debug / os
npm-debug.log*
.DS_Store
Thumbs.db

# typescript
next-env.d.ts
*.tsbuildinfo

# vercel
.vercel
